<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.min.js"></script>
</head>
<body>
    <body>
        <fieldset id="app">
            <legend>MVVM 學生資料</legend>
            <div>
                <button id="btnGo">填上資料...</button>
            </div>
            <table>
                <!--列 row-->
                <tr>
                    <td>學生編號</td>
                    <td><input type="text" v-model:value="student.id"></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><input type="text" v-model:value="student.name"/></td>
                </tr>
                <tr>
                    <td>聯絡地址</td>
                    <td><input type="text" v-model:value="student.address"/></td>
                </tr>
                <tr>
                    <td>連絡電話</td>
                    <td><input type="text" v-model:value="student.phone"/></td>
                </tr>
                <tr>
                    <td>出生年月日</td>
                    <td><input type="date" v-model:value="student.birthdate"/></td>
                </tr>
            </table>
            <div>修改姓名:{{student.name}}</div>
        </fieldset>
        <script>
            //var global變數 整網頁範圍
            var dataModel={
                student:{
                    id:1,
                    name:'張三豐',
                    address:'台南市安平',
                    phone:'06-454545',
                    birthdate:'2000-01-01'
                },
                message:'',
                result:[]
            }
       
            //設定學生資料模組
            //建構Vue個體物件 掛載mounting 特定標籤範圍DOM
            var app=new Vue(
                //JS物件設定
                {
                    data:dataModel
                }
            );
            //掛載
            app.$mount('#app');
        </script>
        
    </body>
</body>
</html>